.selected .webix_tree_item.webix_selected {
    background: #fff3a1;
}

.selected .webix_tree_item.webix_selected span {
    background: transparent !important;
}

.selected .webix_tree_img {
    background-color: transparent;
}

.delete {
    float: right;
    padding: 6px;
}

.description {
    font-style: italic;
    font-size: small;
}

.completed {
    text-decoration: line-through;
}

.created {
    font-size: small;
    text-align: right;
}