<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.DerbyTenSevenDialect</property>
        <property name="connection.url">jdbc:derby://localhost:1527/../../db-derby-10.12.1.1-bin/db/todoo</property>
        <property name="connection.driver_class">org.apache.derby.jdbc.ClientDriver</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
        <mapping class="ru.todoo.domain.CategoryEntity"/>
        <mapping class="ru.todoo.domain.TaskEntity"/>
        <mapping class="ru.todoo.domain.UserEntity"/>
    </session-factory>
</hibernate-configuration>